.row
	.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
		.center
			%h1{:style => "color: #fff;font-size:5em; padding-top:50px; line-height:50px;"} Circle
			%h3{:style => "color: #fff;"}  Emotionally Healthy Together
			%p{:style => "color: #fff;padding-bottom:50px;padding-top: 13px;"}  Powered by EBT
			=link_to "Join with Facebook", signin_path, :class => "btn btn-default btn-lg",:style => "margin-bottom:20px;color:#fff;background-color:#59FF85; border-color:#fff;border-width: 2px; font-size:1.7em; "
			.span{:style => "color: #fff;font-size: 1em;"} We use Facebook to protect your anonimity and will never post on your behalf.

