.row
	.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
		.center
			%h1.tk-freight-sans-pro{:style => "color: #fff;font-size:4em; padding-top:50px; line-height:70px;"} Together
			%h4{:style => "color: #fff;"}  Creating Emotional Health
			%p{:style => "color: #fff;padding-bottom:50px;padding-bottom: 92px;padding-top: 3px;"}  Powered by EBT
			%p=link_to "Join with Facebook", signin_path, :class => "btn btn-default btn-lg",:style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em; "
			.span{:style => "color: #fff;font-size: 1em;"} We use Facebook to protect your anonymity and will never post on your behalf.

