.row
	.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
		.center
			%h1.tk-swingdancer{:style => "color: #fff;font-size:7em; padding:30px 0 50px; line-height:80px;"} feel
			%h4{:style => "color: #fff;"} Emotional Tools
			%h4{:style => "color: #fff;margin:0px;"} &
			%h4{:style => "color: #fff;padding-bottom:50px;"}  A Community of Support
			%p=link_to "Learn More", howitworks_path, :class => "btn btn-default btn-lg",:style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.5em; width:200px;"
			%p=link_to "Join  - Sign In", signin_path, :class => "btn btn-default",:style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 2px; font-size:1.3em;width:200px;"

