.row
	.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
		.center
			%h1.tk-swingdancer{:style => "color: #fff;font-size:7em; padding:50px 0 50px; line-height:80px;"} feel
			%h4{:style => "color: #fff;"} Build Emotional Skills
			%h4{:style => "color: #fff;margin:0px;"} &
			%h4{:style => "color: #fff;padding-bottom:50px;"}  a Community of Support

			%p=link_to "Join with Facebook", signin_path, :class => "btn btn-default btn-lg",:style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em; "
			.span{:style => "color: #fff;font-size: 1em;"} We will never post on your behalf

