%body#page1
	.row
		.col-md-4.col-md-offset-4.center
			%h1.tk-freight-sans-pro{:style => "color: #fff; padding:57px 0 0px;font-size:2.5em;"} Connecting...
			.div{:style => "padding:30px 30px 40px 30px;"}
				%p{:style => "color: #fff;text-align:left; font-size:1.2em;"} 1) Your Phone Will Ring 
				%p{:style => "color: #fff;  text-align:left; font-size:1.2em;"} 2) When you answer, you will be connected to another member
				%p{:style => "color: #fff;  text-align:left; font-size:1.2em;"} 3) If they do not pick up in 60 seconds, hang up and connect again.
				%p{:style => "color: #fff;  text-align:left; font-size:1.2em;"} 4) After the call click "Call Finished"

			%p
				= link_to "Call Finished" , new_rating_path , :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 2px; font-size:1.7em; width:180px;"