%body#page1
	.row
		.col-md-6.col-md-offset-3.center
			%h1.tk-freight-sans-pro{:style => "color: #fff; padding:57px 0 50px;font-size:2.5em;"} Connecting...
			%p{:style => "color: #fff; padding:0 30px 40px 30px; text-align:left;"} 
				%b What happens now? 
				Answer your phone and you will be connected.  If you are not connected after 60 seconds, hang up and connect again. 
			%p
				= link_to "Call Finished" , user_path(current_user) , :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 2px; font-size:1.7em; width:180px;"