.row
	.col-sm-offset-4.col-sm-3.col-xs-8
		- if user_signed_in?
			= link_to user_path(current_user) do
				%p.tk-swingdancer{:style => "color: #fff;font-size:2em; padding:18px 0 0px 10px;text-decoration:none; "} feel
		- else
			= link_to root_path do
				%p.tk-swingdancer{:style => "color: #fff;font-size:2em; padding:18px 0 0px 10px;text-decoration:none; "} feel
	.col-sm-1.col-xs-4.right{:style => "padding: 10px 5px 0px;"}

		.dropdown
			%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button",:class => "btn btn-default", :style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 0px; font-size:1.7em; ",}
				%span.glyphicon.glyphicon-th-list
			%ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
				- if user_signed_in?
					%li{:role => "presentation"}
						%a{:href => user_path(current_user), :role => "menuitem", :tabindex => "-1"} Home
					%li{:role => "presentation"}
						%a{:href => howitworks_path, :role => "menuitem", :tabindex => "-1"} How it Works
					%li{:role => "presentation"}
						%a{:href => edit_user_path(current_user), :role => "menuitem", :tabindex => "-1"} Edit Profile
					%li{:role => "presentation"}
						%a{:href => first_path, :role => "menuitem", :tabindex => "-1"} Save Contact
					- if current_user.id == 1
						%li{:role => "presentation"}
							%a{:href => '/users/1/admin', :role => "menuitem", :tabindex => "-1"} Admin
						%li{:role => "presentation"}
							%a{:href => new_rating_path, :role => "menuitem", :tabindex => "-1"} Record a call
						%li{:role => "presentation"}
							%a{:href => ratings_path, :role => "menuitem", :tabindex => "-1"} View all ratings

					%li.divider{:role => "presentation"}
					%li{:role => "presentation"}
						%a{:href => signout_path, :role => "menuitem", :tabindex => "-1"} Sign Out
				- else
					%li{:role => "presentation"}
						%a{:href => signin_path, :role => "menuitem", :tabindex => "-1"} Join 
					%li.divider{:role => "presentation"}
					%li{:role => "presentation"}
						%a{:href => signin_path, :role => "menuitem", :tabindex => "-1"} Sign In
.row
	.col-md-6.col-md-offset-3
		%h3.tk-freight-sans-pro.center{:style => "color: #fff; padding-bottom:20px;font-size:2.5em;"} How it Works

		#accordion.panel-group
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
							App Overview
				#collapseOne.panel-collapse.collapse.in
					.panel-body
						Once admitted into the feel community, this app allows you to anonymously call another member so you can use neuroscience based tools to process stress and feel great.  
						%br
						%br
						We provide this service to the world for free.   
						%br
						%br
						To join the community you will first speak with a Welcomer who will answer your questions and get you started with your first call.
						%br
						%br 
						After each call you will be able to favorite the person you spoke with. If they do the same, they will be prioritized the next time you make a call.
						%br
						%br 
						This also enables the community to support safety as each member builds a reputation over time.
						%br
						%br
						Click on the below titles to learn more about the different aspects of this app.
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOneA"}
							Procedure for a Call
				#collapseOneA.panel-collapse.collapse
					.panel-body
						Calls have a limit 5 minutes per person.
						%br
						%br
						1) Two members are anonymously connected in a conference call.
						%br
						%br
						2) They decide who goes first.
						%br
						%br
						3) The first person says their Brain State and either accepts their state or uses the corresponding Tool.
						%br
						%br
						4) The second person gives the first person a Connecting Message (a brief sharing of their feelings while listening to them). The other person listens without commenting, interrupting or giving advice.
						%br
						%br
						5) If there is time remaining in the connection, they switch roles and the other person says their Brain State, accepts their state or uses the tools and the other person gives a Connecting Message.
						%br
						%br
						6) They say goodbye and have great days.





			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
							Example Call
				#collapseTwo.panel-collapse.collapse
					.panel-body
						The person starting the call, John, opens the app and presses the "Connect" button.
						%br
						%br
						John receives a call from the Feel number and he answers it. 
						%br
						%br
						He is told the nickname of the person who is starting the call and hears hold music. 
						%br
						%br
						Mary receives a call from the Feel number. She has just finished a business meeting.
						%br
						%br 
						Once she receives the call, she has 10 minutes before her next meeting, so she answers the call. 
						%br
						%br
						She is told that she is speaking with John and is connected to the conference call with him.
						%br
						%br
						Mary: "Hi John" 
						%br
						John: "Hi Mary" 
						%br
						John: "Would you like to go first?" 
						%br
						Mary: "Yes, I am at Brain State 2 and I would like to use the 2 Tool. 
						%br
						Okay here I go. How do I feel? I feel tired, hungry and grateful. My strongest feeling is being tired. What do I need? The corresponding need is that I need to cancel dinner tonight so I can rest. Do I need support? No. I can do this! 
						%br
						Okay I am done!" 
						%br
						John: " When you did your work I felt sad when you said you were tired. The gift to  me was when you said "I can do this" because it made me realize that I could do the  same. 
						%br
						Mary: "Thank you for that! I feel grateful that you listened to me. We still have 5 more minutes. Would you like to do work?" 
						%br
						John: "Yes." 
						%br
						%br
						(John follows the same process as Mary.)

			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
							Brain States
				#collapseThree.panel-collapse.collapse
					.panel-body
						There are 3 main parts of the human brain. Neuroscience has shown us that a person's stress level determines which of these 3 sections of the brain is active at any given time. 
						%br
						%br
						When stress levels are the highest, the "Reptilian Brain" is in charge. It is at the base of our brain and controls the "Fight or Flight" response When it is in charge, we go to extremes. We are at Brain State 5 (stressed out).
						%br
						%br
						When stress levels are moderate, the "Mammalian Brain" is in charge. It is in the middle of the brain and controls emotions, relationships and rewards. We are at Brain State 4 (definitely stressed) or Brain State 3 (a little stressed) and less extreme than in a fight or flight response.
						%br
						%br
						Finally, when stress levels are lowest, the “neocortex” which is at the top of the brain is in charge. The neocortex is in charge of knowledge, insight, planning and deciding. When it is in charge we are either at Brain State 2 (feeling okay) or at Brain State 1 (feeling great).
						%br
						%br
						For each of these different levels of stress, or Brain States, the most effective way to process stress is different. This is why there is a different tool for each brain state.
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
							The 5 Tool
				#collapseFour.panel-collapse.collapse
					.panel-body
						The 5 Tool
						%br
						%br
						Use when: Stressed Out (Overwhelmed, confused and lost)
						%br
						%br
						Brain Area Active: Reptilian Brain
						%br
						%br
						This tool calms the fight or flight response of the Reptilian Brain. In stress, the brain tells us to judge and we are prone to harming ourselves or others. Also, there is a time warp so we think that this overwhelm will never end. This tool calms us and reminds us of reality!
						%br
						%br
						State all three sentences, then repeat them until you feel your stress fade (10-20+ times) 
						%br
						%br
						Do not judge. 
						%br
						Minimize harm. 
						%br
						Know it will pass. 
						%br
						%br
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourA"}
							The 4 Tool
				#collapseFourA.panel-collapse.collapse
					.panel-body
						The 4 Tool
						%br
						%br
						Use when: Definitely Stressed (Feel stressed but still can feel your feelings and are not overwhelmed)
						%br
						%br
						Brain Area Active: Lower Mammalian Brain
						%br
						%br
						This tool is designed for you to process your emotions about a specific topic. It has two benefits: 1) decreasing stress rapidly, and 2) healing the underlying cause of the stress.
						%br
						%br
						First state what you are stressed about, then express your anger about it, then feel your sadness, your fear and your guilt. Focus on instensly feeling each emotion and expressing it. Once an emotion is fully expressed, it tends to lead into the emotion that follows it. 
						%br
						%br
						Just the Facts: Describe the situation you are stressed about in factual terms, no feelings, until you feel intense emotions. Use several short sentences to express each of the feelings, beginning with anger. . .
						%br
						%br 
						I feel angry that... 
						%br
						I feel sad that... 
						%br
						I feel afraid that... 
						%br
						I feel guilty that... (my part of it is) 
						%br
						%br
						What is my unreasonable expectation (the underlying belief that is ineffective and would increase my stress)?
						%br
						%br
						What is a reasonable expectation (the healthy opposite of the ineffective one).
						%br
						%br
						The Grind In: State the healthy opposite 5 to 20 times or until you feel good or great. 
						%br
						%br
						This is how this tool changes the underlying cause of stress.
						%br
						%br
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourB"}
							The 3 Tool
				#collapseFourB.panel-collapse.collapse
					.panel-body
						The 3 Tool
						%br
						%br
						Use when: A Little Stressed (overthinking or somewhat negative emotions )
						%br
						%br
						Brain Area Active: Upper Mammalian Brain
						%br
						%br
						This tool is designed for when you feel a little stressed. You feel a general feeling of stress about a lot of things, not a specific topic. By expressing negative feelings, you clear away stress, then become aware of your positive feelings. It is common that each feeling is about a different subject. Just complete each sentence once or twice. 
						%br
						%br
						If you don’t feel a feeling, then skip it and go on to the next feeling. Often one feeling flows into the next, which is why this is called the “Natural Flow of Feelings.” 
						%br
						%br
						I feel angry that...
						%br
						I feel sad that... 
						%br
						I feel afraid that... 
						%br
						I feel guilty that... 
						%br
						I feel grateful that... 
						%br
						I feel happy that... 
						%br
						I feel secure that... 
						%br
						I feel proud that... 
						%br
						%br
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourC"}
							The 2 Tool
				#collapseFourC.panel-collapse.collapse
					.panel-body
						The 2 Tool
						%br
						%br
						Use when: Feeling Okay (present in the moment, but not feeling rewarded) 
						%br
						%br
						Brain Area Active: Lower Neocortex
						%br
						%br
						This is tool is intended for when you feel fine but not amazing. You are present and aware, but do not feel a slight glow in your body that comes with Brain State 1. You normally have a need that you are not aware of. The way to find out what you need is to identify your strongest feeling. Once you know that, you can figure out what you need. Just knowing what you need can clear away that last bit of stress. Also, check if you need support from others to meet that need.
						%br
						%br
						How do I feel? Pause and wait for the feelings to pop into your brain.
						%br
						%br 
						My top 3 emotions are... My strongest emotion is... 
						%br
						%br
						What do I need? The need that corresponds to that feeling is . . . 
						%br
						%br
						Do I need support (from others)? 
						%br
						%br
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFourD"}
							The 1 Tool
				#collapseFourD.panel-collapse.collapse
					.panel-body
						The 1 Tool
						%br
						%br
						Use when: You Feel Great (present in the moment, and a body glow of reward) 
						%br
						%br
						Brain Area Active: Upper Neocortex
						%br
						%br
						This tool is designed to strengthen your great feeling and help your brain become 	more comfortable in this positive state. If it does not work for you, it means that 	you are not in Brain State 1, so the stress hormones are keeping you from feeling an abundance of compassion. Try another tool. To use this tool, follow the below 	prompts. 
						%br
						%br
						Take a deep breath...
						%br
						%br 
						Shoulders back... Healthy posture . . .Chin slightly up 
						%br
						%br
						Say to yourself:
						%br
						%br
						Feel a wave of compassion for myself. (Pause and feel a slight relaxation or glow in 	your body.) 
						%br
						%br
						Feel a wave of compassion for others. (Pause and feel yourself relax.) 
						%br
						%br
						Feel a wave of compassion for all living beings. (Pause and feel yourself relax.)
						%br
						%br
						Feel a surge of joy!
						%br
						%br
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
							Connecting Messages
				#collapseFive.panel-collapse.collapse
					.panel-body
						After a person uses a tool, the other person gives them a Connecting Message, which is a brief sharing of:
						%br
						%br
						Feelings: the feelings the person felt while they were listening to the other person use a tool
						%br
						%br
						The Gift: the way their work was a gift to the person who was listening, how it changes and helped them in their own life.
						%br
						%br
						The purpose of a Connecting Message is to share your emotions to match the openness of the other person who used the tools. After using a tool, some people feel vulnerable and this sharing makes them feel more secure. You create a great space for emotional honesty. 
						%br
						%br
						In addition, when you share what you learned from listening to them, then they feel good about having been of help to you.
						%br
						%br
						You prepare to give a Connecting Message by really listening to the other person use a tool. You notice how you feel, the sensations in your body, and if they say something that evokes a strong feeling or sensation, remember that.
						%br
						%br
						Also notice any way that listening to their work affected your brain state, taught you something about how to use the tools, or helped you feel better in some way. 
						%br
						%br
						It is not: complementing them or telling them what a good job they did. That is not intimate. Instead you are sharing your own inner life with them, which is far more powerful and a gift back to them.
						%br
						%br
						When the person says that they are finished with their work, give them a Connecting Message.
						%br
						%br
						Examples:
						%br
						%br
						When you did your work, the feelings and sensations in my body were: I felt a sinking feeling and sadness when you talked about your sick dog. Your work was a gift to me because it makes me remember my dog and how much I loved him.
						%br
						%br
						When you did your work, the feelings and sensations in my body were: I felt happy, because I am dealing with a similar situation. I felt less alone. That was the gift, too. I feel less alone.
						%br
						%br
						It is important that you only talk about how their work affected you and do not offer opinions or advice on what they shared.
						%br
						%br
			.panel.panel-default
				.panel-heading
					%h4.panel-title.center
						%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
							Safety Guidelines
				#collapseSix.panel-collapse.collapse
					.panel-body  
						Nurturing Voice - Use a nurturing voice towards yourself and others.
						%br
						%br 
						Be Positive - Offer no judgments or criticisms. 
						%br
						%br
						Chit Chat Free - Calls are about focusing on doing work. 
						%br
						%br
						Avoid Intrusions - No interrupting or giving unasked for advice. 
						%br
						%br
						Confidentiality - Allow for anonymity and confidentiality. 
						%br
						%br
						If there is a violation of any of these items please email: support@ebt.org
						%br
						%br
		- if user_signed_in?
			.center=link_to "Home", user_path(current_user), class: "btn btn-default btn-lg", :style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em; margin-top:10px;width:190px;margin-bottom:30px; "
		- else 
			.center=link_to "Join", signin_path, class: "btn btn-default btn-lg", :style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em; margin-top:10px;width:190px;margin-bottom:30px; "