.row
	.col-sm-4.col-md-offset-4
		%h1.tk-freight-sans-pro.center{:style => "color: #fff; padding:57px 0 50px;font-size:2.5em;"} Pending Users
		- if current_user.id == 1
			- @users.each do |u|
				%tr
					
					- if u.approved == false
						.col-xs-5{:style => "padding-top: 7px; "}= link_to u.name, edit_user_path(u), :style => " color:#fff"
						.col-xs-3{:style => "padding-top: 7px; color:#fff"} Pending
						.col-xs-4= link_to "Approve", edit_user_path(u), :class => "btn btn-default"
					- else 
						.col-xs-8{:style => "padding-top: 7px"}= link_to u.name, edit_user_path(u), :style => " color:#fff"
						.col-xs-4= link_to "Approved", edit_user_path(u), :class => "btn btn-default disabled"